body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helbetica Neue", sans-serif;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 100%;
}

.box-s {
  background-color: #1C1C1E;
  width: auto;
  height: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.box-t {
  background-color: #2C2C2E;
  width: auto;
  height: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}


footer {
  justify-content: center;
  background-color: #2C2C2E;
  width: auto;
  height: auto;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  position: sticky;
  bottom: 0;
}

st {
  font-weight: thick;
}

.sel-a {
 background-color: #2C2C2E;
 font-size: 150%;
 border: none;
 padding: 15px 32px;
 text-decoration: none;
 display: inline-block;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 20px;
}

a.sel-a:link {
  color: #FFFFFF;
}

.sel-a a:link {
  color: #FFFFFF
}

a:link {
  color: #0a84ff;
}

a:visited {
  color: #bf5af2;
}

a:hover, a:active {
  color: #ffa07a
}

button {
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #5c5c5c;
}

button:hover {
  translate: translateY(5px);
}